<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
      <title>Main menu</title>
      <meta charset="UTF-8">
      <meta name="description" content="First website ever written">
      <meta name="keywords" content="kristian,hanus,strikersk,web,developer,personal,java,spring,hibernate">
      <meta name="author" content="Kristian Hanus">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link th:href="@{/css/_base.css}" rel="stylesheet" />
      <link th:href="@{/css/_mainMenuPage.css}" rel="stylesheet" />
  </head>

  <body>
      <div class="grid-container">

          <div class="main-text">
              <div>
                  <h1 class="main-title">Spring Boot Application</h1>
                  <p>As my page is growing bigger I actually give you seven options to select from. First three links are registration
                      based pages, one page is about me, another one is testing site for development purpose and last two are IIFYM calculators.</p>
              </div>
          </div>

          <div class="main-links">
              <div>
                  <p><a href="student/list">Go to student page!</a></p>
                  <p><a href="customer/add">Go to customer form!</a></p>
                  <p><a href="user/list">Go to user page!</a></p>
                  <p><a href="other/about">Something about me!</a></p>
                  <p><a href="other/video">This is a bonus site!</a></p>
                  <p><a href="other/BMR">This is a IIFYM site!</a></p>
                  <p><a href="other/bmrjava">This is a IIFYM site using Java!</a></p>
              </div>
          </div>
      </div>
  </body>

</html>