@import url('https://fonts.googleapis.com/css?family=Mali');

$displayThreshold: 768px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 3.8rem;
    text-align: center;
}

h2 {
    font-size: 3.4rem;
    text-align: center;
}

h3 {
    font-size: 3.0rem;
    text-align: center;
}

th, td, a, p, span, strong, input, select, label {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

.layout {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

header {
    height: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

footer {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.link-box a {
    color: #EDF5EE;
}

.link-box a:hover {
    color: lightslategray;
}