* {
    color: #EAF0CE;
}

body{
    background-color: rgb(63, 51, 77);
    margin: 0 !important;
}

/*Nastavenie formatovania kaskady pre mobil*/
.grid-container {
    display: flex;
    flex-direction: column;
}

.main-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-text h1{
    font-size: 6rem;
    margin-bottom: 3rem;
    animation: colorchange 6s linear infinite;
}

.main-text p, a{
    font-size: 2.8rem;
}

.main-links {
    height: 12.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-links a:hover{
    animation: colorchange 6s linear infinite;
}

.redirect-link {
    display: flex;
    justify-content: center;
    width: 25%;
}

@media all and (max-width : 768px){

    .main-links {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    h1 {
        font-size: 5rem !important;
    }

     p {
        text-align: center;
        font-size: 2.5rem;
    }

     .main-links  {
         margin-top: 2rem;
         height: 20rem;
     }

     .main-links a {
         margin-top: 1.5rem;
     }

     .centered-box > div {
         width: 100% !important;
     }

    .redirect-link {
        width: 100%;
    }
}

@keyframes colorchange
{
    0%,100% {color: #574B60 }
    25% {color: #7D8491 }
    50% {color: #C0C5C1 }
    75% {color: #EAF0CE }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0%,100% {color: #574B60 }
    25% {color: #7D8491 }
    50% {color: #C0C5C1 }
    75% {color: #EAF0CE }
}

@-moz-keyframes colorchange /* Firefox */
{
    0%,100% {color: #574B60 }
    25% {color: #7D8491 }
    50% {color: #C0C5C1 }
    75% {color: #EAF0CE }
}


@-o-keyframes colorchange /* Opera */
{
    0%,100% {color: #574B60 }
    25% {color: #7D8491 }
    50% {color: #C0C5C1 }
    75% {color: #EAF0CE }
}