table{
    border-color: brown;
}

p{
    color: gold;
}

body{
    background: url("../images/sampleVideoImage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin: 0 !important;
}

.incenter{
    height: 95vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 10rem 1fr;
}

.incenter iframe {
    width: 100%;
    height: 100%;
}

.incenter h1 {
    grid-row: 1;
    display: flex;

    font-size: 5rem;
    justify-content: center;
    align-items: center;

    margin: 0;
    text-align: center;
}

.video-box{
    height: 50rem;
    width: 90rem;
}

.resp-container {
    grid-row: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {

    .incenter {
        grid-template-rows: 20rem 1fr;
    }

    .incenter h1 {
        font-size: 4.8rem;
    }

    .incenter{
        width: 100%;
    }

    .video-box{
        height: 25rem;
        width: 35rem;
    }

}