<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Page</title>

    <meta charset="UTF-8">
    <meta name="description" content="First website ever written">
    <meta name="keywords" content="kristian,hanus,strikersk,web,developer,personal,java,spring,hibernate">
    <meta name="author" content="Kristian Hanus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/_base.css}"/>
    <link rel="stylesheet" th:href="@{/css/_navigationBar.css}"/>
    <link rel="stylesheet" th:href="@{/css/_aboutPage.css}"/>
    <link rel="stylesheet" th:href="@{/css/school/_studentRegistration.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.25/css/dataTables.jqueryui.min.css}">

    <script type="text/javascript" rel="script" th:src="@{/js/navigation-bar.js}"></script>
    <script type="text/javascript" rel="script" th:src="@{/js/datatable.js}"></script>
    <script type="text/javascript" rel="script" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" rel="script" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    <script type="text/javascript" rel="script" th:src="@{/webjars/datatables/1.10.25/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" rel="script" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(
            function() {
                $.getJSON('${findUsersURL}', {
                    ajax : 'true'
                }, function(data) {
                    let html = '';
                    let len = data.length;
                    for ( let i = 0; i < len; i++) {
                        html += '<li class="dropdown-item"><a href="/user/detail/' + data[i].id + '">' + data[i].username + '</a></li>';
                    }
                    html += '</li>';

                    $('#universities').html(html);
                });
            });
    </script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="javascript:void(0)">Student list</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/other/BMR">BMR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/other/bmrjava">BMR(Java)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/validation/add">Customer page</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User page
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-item"><a href="/user/list">User list</a></li>
                        <li class="dropdown-item"><a href="/user/registerUser">User registration</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-submenu">
                            <a  class="dropdown-item" tabindex="-1" href="/user/list">Open user</a>
                            <ul class="dropdown-menu" id="universities"></ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0)">Student page</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container centered-box">
        <div>
            <h1 class="h1 text-center">This is student list page of my web application!</h1>
            <br/>

            <div th:switch="${students.size()}">
                <h3 th:case="'0'">There is no student to show!</h3>
                <table th:case="*" id="myTable" class="table-hover table display col-sm-12">
                    <thead>
                    <tr class="header">
                        <th></th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Detail</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}" > <!--onclick="location.href='/student/detail/${temp.id}'"-->
                            <td></td>
                            <td th:text="${student.firstName}"></td>
                            <td th:text="${student.lastName}"></td>
                            <td><a th:href="@{'/student/detail/' + ${student.id}}" title="This link shows student detail" target="_blank">Detail</a></td>
                            <td><a th:href="@{'/student/edit/' + ${student.id}}" title="This link edit student" target="_blank">Edit</a></td>
                            <td><a th:href="@{'/student/delete/' + ${student.id}}" title="This link deletes student" onclick="return confirm('Are you sure you want to delete student ${temp.firstName} ${temp.lastName}?');">Delete</a></td>
                        </tr>
                    <tbody>
                </table>
            </div>

            <div class="form-group row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-primary col-md-2 mb-2" href="/student/add" >New student</a>
                    <a class="btn btn-primary col-md-2 mb-2" href="/">Main menu</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
