<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer confirmation</title>

        <link th:href="@{/css/_base.css}" rel="stylesheet" />
        <link th:href="@{/css/_validationDetailsPage.css}" rel="stylesheet" />
        <link th:href="@{/css/navigation-bar.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" th:src="@{/js/navigation-bar.js}"></script>
    </head>

    <body>
        <div class="detailsBox">
            <h1>Validation details</h1>
            <div class="ConfirmTable">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td th:text="${customer.sumNum}"></td>
                    </tr>
                    <tr>
                        <td>Free passes:</td>
                        <td th:text="${customer.freePasses}"></td>
                    </tr>
                    <tr>
                        <td>Postal code:</td>
                        <td th:text="${customer.postalCode}"></td>
                    </tr>
                    <tr>
                        <td>Course code:</td>
                        <td th:text="${customer.courseCode}"></td>
                    </tr>
                </table>
            </div>
            <br/>
            <div class="CustomerLink">
                <a href="/validation/add" class="Link2">Try new validation!</a>
                <a href="/" class="Link2">Go to main menu!</a>
            </div>
        </div>
    </body>
</html>
