<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer registration</title>

        <link th:href="@{/css/_base.css}" rel="stylesheet" />
        <link th:href="@{/css/_validationFormPage.css}" rel="stylesheet" />
        <link th:href="@{/css/navigation-bar.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" th:src="@{/js/navigation-bar.js}"></script>
    </head>

    <body>

        <div class="navbar" id="myTopnav">
            <a href="/">Home</a>
            <a href="/other/BMR">BMR</a>
            <a href="/other/bmrjava">BMR (Java)</a>
            <a href="/student/list">Student page</a>
            <div class="dropdown">
                <button class="dropbtn">User page
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/user/list">User list</a>
                    <a href="/user/registerUser">User registration</a>
                </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="MainText">
            <h1>Validation Form</h1>
            <div class="RegForm">
                <i>Fill out the form. Asterisk (*) means required.</i>
                <form action="#" method="post" th:action="@{/customer/process}" th:object="${customer}">
                    <div class="inputs">
                        <label for="firstName"><span>First name:</span></label>
                        <input id="firstName" type="text" name="name" th:field="*{firstName}" required/>
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="hasError">First name Error</label>

                        <label for="lastName"><span>Last name:</span></label>
                        <input id="lastName" type="text" name="name" th:field="*{lastName}" required/>
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="hasError">Surname Error</label>

                        <label for="freePasses"><span>Free passes:</span></label>
                        <input id="freePasses" type="number" name="freePasses" th:field="*{freePasses}" required/>
                        <label th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="hasError">Free Passess Error</label>

                        <label for="postalCode"><span>Postal code:</span></label>
                        <input id="postalCode" type="text" name="postalCode" th:field="*{postalCode}" required/>
                        <label th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="hasError">Postal Code Error</label>

                        <label for="courseCode"><span>Course code:</span></label>
                        <input id="courseCode" type="text" name="courseCode" th:field="*{courseCode}" required/>
                        <label th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="hasError">Course Code Error</label>
                    </div>
                    <input type="submit" value="Submit customer" class="SubmitButt">
                </form>
            </div>
        </div>
    </body>

</html>
