* {
    color: #EAF0CE;
}

body{
    background-color: rgb(63, 51, 77);
    margin: 0;
}

h1{
    font-size: 60px;
    animation: colorchange 6s linear infinite;
}

/*Nastavenie formatovania kaskady pre mobil*/
.grid-container{
    height: 100vh;
    width: 100%;
    display: grid;

    grid-template-columns: 20px 0.65fr 15px 0.35fr 20px;
    grid-template-rows: 20px minmax(10px, max-content) 1fr 20px;
}

.main-text{
    grid-column: 2;
    grid-row: 2/4;

    align-self: center;
    justify-self: center;
}

.main-text h1{
    font-size: 5.8rem;
    text-align: center;
}

.main-text p {
    font-size: 2rem;
    text-align: center;
}

.main-links{
    grid-column: 4;
    grid-row: 2/4;

    place-self: center;
    justify-self: center;
}

.main-links a:hover{
    animation: colorchange 6s linear infinite;
}

.main-links > div > p {
    font-size: 32px;

    margin-top: 15px;
    margin-bottom: 15px;
}

@media all and (max-device-width : 1020px){

    .main-text {
        grid-column: 2/5;
        grid-row: 2;

        align-self: center;
        justify-self: center;
    }

    .main-text h1{
        font-size: 7vw;
    }

    .main-text > div > p {
        text-align: center;
        font-size: 4vw;
    }

    .main-links {
        grid-column: 2/5;
        grid-row: 3;

        align-self: start;
    }

    .main-links > div > p {
        margin: 0;
        font-size: 4vw;
    }
}

.miss-info{
    width: 50%;
    margin: 0 0;
}

@keyframes colorchange
{
    0%,100% {color: #574B60 }
    25% {color: #7D8491 }
    50% {color: #C0C5C1 }
    75% {color: #EAF0CE }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0%,100% {color: #574B60 }
    25% {color: #7D8491 }
    50% {color: #C0C5C1 }
    75% {color: #EAF0CE }
}

@-moz-keyframes colorchange /* Firefox */
{
    0%,100% {color: #574B60 }
    25% {color: #7D8491 }
    50% {color: #C0C5C1 }
    75% {color: #EAF0CE }
}


@-o-keyframes colorchange /* Opera */
{
    0%,100% {color: #574B60 }
    25% {color: #7D8491 }
    50% {color: #C0C5C1 }
    75% {color: #EAF0CE }
}