body{
    background: url('/image/sum-image.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: wheat;
}

.student-details{
    margin-bottom: 1.2rem;
}

.student-details p, .student-details ul{
    width: 85%;
    margin: 0 auto;
}

.student-details ul {
    list-style: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.link{
    font-size: 24px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {

    .student-details{
        width: 100%;
        margin: 0 auto 30px;
    }

    .student-details h1{
        font-size: 32px;
    }

    .student-details p, .student-details ul{
        width: 95%;
        margin: 0 auto;
        font-size: 18px;
    }

    .known-languages p{
        margin-bottom: 10px;
    }

    .link{
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }

}