<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About author</title>

    <link th:href="@{/css/_base.css}" rel="stylesheet" />
    <link th:href="@{/css/_navigationBar.css}" rel="stylesheet" />
    <link th:href="@{/css/_aboutPage.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/navigation-bar.js" type="text/javascript"></script>
</head>

<body>

    <div class="navbar" id="myTopnav">
        <a href="/">Home</a>
        <a href="/other/BMR">BMR</a>
        <a href="/other/bmrjava">BMR (Java)</a>
        <a href="/student/list">Student page</a>
        <a href="/validation/add">Validation page</a>
        <div class="dropdown">
            <button class="dropbtn">User page
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/user/list">User list</a>
                <a href="/user/registerUser">User registration</a>
            </div>
        </div>

        <div class="dropdown-click">
            <button class="dropbtn" onclick="openDropdown()">
                Languages
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/about?lang=en" th:text="#{lang.eng}"></a>
                <a href="/about?lang=fr" th:text="#{lang.fr}"></a>
                <a href="/about?lang=sk" th:text="#{lang.sk}"></a>
            </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="MainBody">
        <h1 class="MainText" th:text="#{aboutMe.Title}"></h1>
        <div class="about-me content-box">
            <h2 class="section-header" th:text="#{aboutMe.Section}"></h2>
            <p th:text="#{aboutMe.Text}"></p>
            <p th:text="#{aboutMe.Interests}"></p>
            <p th:text="#{aboutMe.FavoriteLanguages}"></p>
            <p th:text="#{aboutMe.FavoriteDbs}"></p>
            <p th:text="#{aboutMe.FavoriteIde}"></p>
        </div>

        <div class="about-project content-box">
            <h2 class="section-header" th:text="#{aboutProject.Section}"></h2>
            <p th:text="#{aboutProject.Text}"></p>
            <p th:text="#{aboutProject.Qoute}"></p>
        </div>

    </div>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function openDropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {
                let myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        };
    </script>

</body>

</html>