<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Application Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/_errorPage.css}"/>
    </head>

    <body>
        <div class="layout">
            <main class="messageBox">
                <h1>Something went wrong!</h1>
                <p>Return to <a href="/">main menu</a>!</p>
            </main>
            <footer>
                Kristian Hanus @ 2022
            </footer>
        </div>
    </body>
</html>