<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
      <title>Main menu</title>
      <meta charset="UTF-8">
      <meta name="description" content="First website ever written">
      <meta name="keywords" content="kristian,hanus,strikersk,web,developer,personal,java,spring,hibernate">
      <meta name="author" content="Kristian Hanus">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link th:href="@{/css/_mainMenuPage.css}" rel="stylesheet" />
  </head>

  <body>
      <div class="layout">
          <main>
              <div class="main-text">
                  <h1 class="main-title">Spring Boot Application</h1>
                  <p>As my page is growing bigger I actually give you seven options to select from. First three links are registration based pages, one page is about me, another one is testing site for development purpose and last two are IIFYM calculators.</p>
              </div>

              <div class="main-links">
                  <a class="link" href="/about">About me page</a>
                  <a class="link" href="/student/add">Student form</a>
                  <a class="link" href="/validation/add">Validation form</a>
<!--                  <a class="link" href="user/list">User page example</a>-->
                  <a class="link" href="/random">Random page</a>
<!--                  <a class="link" href="other/BMR">IIFYM with JS Example</a>-->
<!--                  <a class="link" href="other/bmrjava">IIFYM with Java example</a>-->
              </div>
          </main>
          <footer>
              Kristian Hanus @ 2022
          </footer>
      </div>
  </body>

</html>