<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Video show</title>
        <link rel="stylesheet" th:href="@{/css/_base.css}"/>
        <link rel="stylesheet" th:href="@{/css/_navigationBar.css}"/>
        <link rel="stylesheet" th:href="@{/css/_sampleVideoPage.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/fontawesome.min.css}">

        <script type="text/javascript" rel="script" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    </head>

    <body>
        <header class="header">
            <nav class="navbar">
                <a href="/" class="nav-logo">Application</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="/student/add" class="nav-link">Student form</a>
                    </li>
                    <li class="nav-item">
                        <a href="/validation/add" class="nav-link">Validation form</a>
                    </li>
                    <li class="nav-item">
                        <a href="/random" class="nav-link">Random page</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>

        <div class="centered-box">
            <div id="some-box"></div>
        </div>

        <script type="text/javascript" th:src="@{/js/navigationBar.js}"></script>
        <script type="text/javascript">
            $(document).ready(() => {
                const someArray = ["Sagg08DrO5U", "GArzu9ttQ0M", "hVJtPuuQK_s", "MnMa3_o32E8"]
                const html = `
                    <h1>Video in iFrame</h1>
                    <iframe class="resp-iframe" src="https://www.youtube.com/embed/${someArray[Math.floor(Math.random() * someArray.length)]}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
                $('#some-box').html(html)
            });
        </script>
    </body>
</html>