body {
    background: url("../image/customer-reg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: wheat;
}

/*Registration page of customer registration form*/
.MainText{
    width: 27.5%;
    margin: 0 auto;
    align-content: center;
    background: rgba(50, 29, 38, 0.3);
    padding-bottom: 1%;
}

.MainText h1{
    text-align: center;
    font-size: 3.5rem;
}

.MainText i{
    font-size: 1.4rem;
}

.MainText label{
    font-size: 2.2rem;
}

.MainText input{
    font-size: 1.6rem;
}

.MainText a {
    position: relative;
    left: 30%;
    color: bisque;
}

.MainText a:hover{
    color: wheat;
}

.RegForm{
    width: 80%;
    margin: 0 auto;
}

.SubmitButt{
    margin-left: 30%;
}

.inputs input[type=text], input[type=number], .inputs select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.hasError {
    color: red;
    display:block;
    margin-bottom: 20px;
    text-align: center;
}

.noError {
    display: none
}

@media screen and (max-width: 480px) {

    /*Registration page of customer registration form*/
    .MainText{
        width: 90%;
        margin: 0 auto;
        align-content: center;
    }

    .MainText h1{
        text-align: center;
    }

    .MainText a{
        position: relative;
        left: 30%;
        color: black;
    }

    .MainText a:hover{
        color: wheat;
    }

    .RegForm{
        width: 90%;
        margin: 0 auto;
    }

}